/*Especificidad: 1 */
p {
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: black;
    background-color: #fff
}

/*Especificidad: 1 */
header {
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
}

/*Especificidad: 1 */
h1 {
    background-color:#003D57; 
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 50px 25px;
    text-align: center;     
}

/*Especificidad: 1 */
h2 {
    background-color:#fff; 
    color: #403F3F;
    text-transform: uppercase;
    padding: 0px 10px 20px;
    text-align: left;     
}

/*Especificidad: 1 */
h3 {
    background-color:#fff; 
    color: #403F3F;
    text-transform: uppercase;
    padding: 0px 10px 20px;
    text-align: left;     
}

/*Especificidad: 11 */
a:link {
    color:blue;
    background-color: #fff
}

/*Especificidad: 11 */
a:visited {
    color:purple;
    background-color: #fff
}

/*Especificidad: 11 */
a:active {
    color:red;
    background-color: #fff
}

/*Especificidad: 1 */
nav {
    background-color:#065788; 
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;     
}

/*Especificidad: 12 */
nav > a:link {
    color: #4938B7;
    background-color:#FFFFFF; 
}

/*Especificidad: 12 */
nav > a:visited {
    color: #292065;
    background-color:#FFFFFF; 
}

/*Especificidad: 12 */
nav > a:active {
    color: darkred;
    background-color:#FFFFFF; 
}

/*Especificidad: 1 */
ul {
    list-style-type: circle;
    padding: 50px;
}

/*Especificidad: 2 */
li > img {
    width: 10%;
    height: 10%;
}

/*Especificidad: 1 */
li {
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 10;
    color: black;
    background-color: #fff
}

/*Especificidad: 1 */
table {
    border-collapse: collapse;
    width: 100%;
}

/*Especificidad: 1 */
th {
    text-transform: uppercase;
}

/*Especificidad: 1 */
td {
    text-align: center;
}

/*Especificidad: 3 */
table, th, td {
    border: 1px solid black;
}

/*Especificidad: 1 */
video {
    width: 20%;
    height: 20%;
}