p {
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: black;
    background-color: #fff
}

header {
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
}

h1 {
    background-color:#003D57; 
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 50px 25px;
    text-align: center;     
}

h2 {
    background-color:#fff; 
    color: #818181;
    text-transform: uppercase;
    padding: 0px 10px 20px;
    text-align: left;     
}

h3 {
    background-color:#fff; 
    color: #818181;
    text-transform: uppercase;
    padding: 0px 10px 20px;
    text-align: left;     
}

a:link {
    color:blue;
    background-color: #fff
}

a:visited {
    color:purple;
    background-color: #fff
}

a:active {
    color:red;
    background-color: #fff
}

nav {
    background-color:#065788; 
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;     
}

nav > a:link {
    color: #4938B7;
    background-color:#FFFFFF; 
}

nav > a:visited {
    color: #292065;
    background-color:#FFFFFF; 
}

nav > a:active {
    color: darkred;
    background-color:#FFFFFF; 
}

ul {
    list-style-type: circle;
    padding: 50px;
}

li > img {
    width: 10%;
    height: 10%;
    vertical-align: middle;
}

li {
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: black;
    background-color: #fff
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

video {
    width: 20%;
    height: 20%;
}