/*Especificidad: 10 */
.elemento {
    position: relative;
    margin-right: 20%;
    margin-left: 20%;
}

/*Especificidad: 10 */
.media {
    position: relative;
    left: 35%;
}

/*Especificidad: 10 */
.image {
    position: relative;
    bottom: 50%;
}